$green: #70D03D;
$blue: #6B86FF;
$red: #FF119F;
$yellow: #FFEA74;
$purple: #D511FF;

$highlight: $green;

$desktop-width: 960px;

.modalOverlay {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  padding: 30px 0;
  background-color: rgba(0,0,0,0.3);
  display: flex;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  margin: 0px 15px;
  padding: 15px;
  border-radius: 10px;
  position: relative;
  background: white;
  height: auto;
  z-index: 4;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.15);
}

.button {
  border: none;
  border-radius: 0;
  border-right: 1px solid #ccc;
  font-weight: 300;
  font-size: 15px;
  padding: 0px 20px;
  background: transparent;

  &:hover {
    background: transparent;
  }

  &:last-child {
    border-right: none;
    font-weight: 400;
  }
}
