@import "../theme/base.scss";

.member {
  width: 240px;
  padding: 10px;
  height: 250px;
}

.actionContainer {
  display: flex;
  justify-content: flex-end;
}

.action {
  padding: 5px;
  cursor: pointer;
  color: grey;
}

.actionDelete {
  @extend .action;
  color: red;
}
