@import "../theme/base.scss";

.navItem {
  padding-left: 10px;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.headerWrapper {
  position: relative;
  height: 85px;
  background-color: rgba(0,0,0,0.5);
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.header {
  width: $desktop-width;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  height: 100%;
}

.logo {
  flex-grow: 1;
}

.navigation {
  display: flex;
  flex-direction: row;

  a, a:visited {
    color: white;
  }
}

.contentWrapper {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}
