@import "../theme/base.scss";

.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-grow: 99999;
  padding: 20px 0;
}

.content {
  width: $desktop-width;

  p {
    font-size: 34px;
    padding: 70px 0px;
  }
}

.contentWrapper {
  @extend .wrapper;
  color: white;
}

.heroWrapper {
  @extend .wrapper;
  margin-top: -105px;
  padding-top: 105px;
  background-image: url('../../static/main-hero.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 700px;
  border-bottom: 8px solid #0E1824;
}

.mainHero {
  width: $desktop-width;
  color: white;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  padding-bottom: 75px;

  h1, p, h2 {
    text-shadow: 0px 0px 5px rgba(0,0,0,1);
    font-size: 3em;
    font-weight: 200;
  }
}

.heroCTA {
  background: #0E1824;
  color: #fff;
  border: none;
  border-radius: 3px;
  height: 50px;
  width: 350px;
}
