@import "../theme/base.scss";

.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-grow: 99999;
  padding: 20px 0;
}

.content {
  width: $desktop-width;

  p {
    font-size: 34px;
    padding: 70px 0px;
  }
}

.contentWrapper {
  @extend .wrapper;
  color: white;
}

.heroWrapper {
  @extend .wrapper;
  margin-top: -105px;
  padding-top: 105px;
  background-image: url('../../static/main-hero.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 700px;
  border-bottom: 8px solid #0E1824;
  padding: 0 10px;
}

.mainHero {
  width: $desktop-width;
  color: white;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  padding-bottom: 75px;

  h1, p, h2 {
    font-weight: 200;
  }

  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 2em;
  }
}

.logoContainer {
  display: flex;
  flex-direction: row;
  align-items: center;

  h1 {
    color: white;
    padding: 0;
    margin: 0;
  }
}

.logo {
  height: 63px;
  margin-right: 20px;
}

.heroCTA {
  margin-top: 20px;
  background: #0E1824;
  color: #fff;
  border: none;
  border-radius: 3px;
  height: 50px;
  width: 350px;
}
