@import "../theme/base.scss";

.modal {
  width: 450px;
  height: 300px;
}

.dialogButtons {
  position: absolute;
  bottom: 15px;
  right: 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  button:last-child {
    border-right: none;
    font-weight: 500;
  }
}

.submit {
  @extend .button;
  color: $green;
}

.registerToggle {
  @extend .button;
  color: $blue;
}
